<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full p-4 lg:w-1/4">
  <nav class="hidden sm:flex" aria-label="Breadcrumb">
  <ol class="flex items-center space-x-4">
    <li class="list-none">
      <div>
        <a href="/" class="text-sm font-medium text-gray-500 hover:text-gray-700">Dashboard</a>
      </div>
    </li>
    <li class="list-none">
      <div class="flex items-center">
        <!-- Heroicon name: chevron-right -->
        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
        <a href="#" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Profile</a>
      </div>
    </li>
  </ol>
</nav>

  </div>
</div>

<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full p-4 lg:w-1/4">
    <%= render partial: "shared/account_navbar" %>
  </div>
  <div class="w-full p-4 lg:w-3/4">
    <div class="p-4 bg-white border border-gray-300 rounded-lg lg:p-10">
      <h2 class="mb-4"><%= t('.title', resource: resource.model_name.human) %></h2>

      <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "mb-16") do |f| %>
        <%= render "shared/error_messages", resource: resource %>
        <div class="flex flex-wrap items-start justify-between">
          <div class="w-full lg:w-1/2">
            <div class="form-group">
              <%= f.label :name, "Full name" %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Steve Jobs", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autocomplete: "email", placeholder: "you@example.com", class: "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :time_zone %>
              <%= f.time_zone_select :time_zone, nil, { default: browser_time_zone.name }, { class: "select" } %>
            </div>

            <% if I18n.available_locales.length > 1 %>
              <div class="form-group">
                <%= f.label :preferred_language %>
                <%= f.select :preferred_language, language_options, {}, { class: "select" } %>
              </div>
            <% end %>
          </div>

          <div class="w-full lg:pl-16 lg:w-1/2">
            <div class="flex flex-wrap items-center justify-start">


                
                <div class="hidden relative rounded-full overflow-hidden lg:block">
                <%= image_tag avatar_url_for(f.object), class: "relative rounded-full w-40 h-40" %>
                <label for="user-photo" class="absolute inset-0 w-full h-full bg-black bg-opacity-75 flex items-center justify-center text-sm font-medium text-white opacity-0 hover:opacity-100 focus-within:opacity-100">
                  <span>Change</span>
                  <span class="sr-only"> user photo</span>
                  <%= f.file_field :avatar, accept:'image/*', class: "input-file absolute inset-0 w-full h-full opacity-0 cursor-pointer border-gray-300 rounded-md" %>
                </label>
              </div>
              <p class="ml-5"> Click to change </p>


              </div>
            </div>

          </div>
        </div>
        <div class="mt-2 form-group">
          <%= f.button t('.update'), class: "btn btn-primary", data: { disable_with: disable_with(t(".saving")) } %>
        </div>
      <% end %>

      <div class="flex flex-wrap flex-end">
        <div class="flex-1">
          <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t("are_you_sure") }, method: :delete, class: "btn btn-white primary" %>
        </div>
      </div>

    </div>
  </div>
</div>