<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full p-4 lg:w-1/4">
  <nav class="hidden sm:flex" aria-label="Breadcrumb">
  <ol class="flex items-center space-x-4">
    <li class="list-none">
      <div>
        <a href="/" class="text-sm font-medium text-gray-500 hover:text-gray-700">Dashboard</a>
      </div>
    </li>
    <li class="list-none">
      <div class="flex items-center">
        <!-- Heroicon name: chevron-right -->
        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
        <a href="#" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Passwords</a>
      </div>
    </li>
  </ol>
</nav>

  </div>
</div>

<div class="flex flex-wrap my-4 lg:px-4">
  <div class="lg:w-1/4 w-full p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="lg:w-3/4 w-full p-4">
    <div class="lg:p-10 p-4 bg-white rounded-lg border border-gray-300">
      <h2 class="mb-4"><%= t(".update_password") %></h2>
      <%= form_with(model: current_user, url: account_password_path, local: true, html: { method: :put }, class: "max-w-lg") do |f| %>
        <%= render "shared/error_messages", resource: current_user %>

        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password", class: "form-control" %>
          <p class="text-sm text-gray-600 mt-3">We need your current password to confirm your changes</p>
        </div>

        <div class="form-group">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password", class: "form-control" %>
          <% if @minimum_password_length %>
            <p class="text-sm text-gray-600 mt-3"><%= @minimum_password_length %> characters minimum</p>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit t(".update"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
