<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full p-4 lg:w-1/4">
  <nav class="hidden sm:flex" aria-label="Breadcrumb">
  <ol class="flex items-center space-x-4">
    <li class="list-none">
      <div>
        <a href="/campaigns" class="text-sm font-medium text-gray-500 hover:text-gray-700">Campaigns</a>
      </div>
    </li>
    <li class="list-none">
      <div class="flex items-center">
        <!-- Heroicon name: chevron-right -->
        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      </div>
    </li>
  </ol>
</nav>

  </div>
</div>
<div class="container mx-auto my-8 px-4">
<dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <div class="flex items-center">
          <div class="flex-shrink-0 bg-indigo-500 rounded-md p-3">
            <!-- Heroicon name: users -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </div>
          <div class="ml-5 w-0 flex-1">
            <dt class="text-sm font-medium text-gray-500 truncate">
              Total Subscribers
            </dt>
            <dd class="flex items-baseline">
              <div class="text-2xl font-semibold text-gray-900">
                71,897
              </div>

              <div class="ml-2 flex items-baseline text-sm font-semibold text-green-600">
                <svg class="self-center flex-shrink-0 h-5 w-5 text-green-500" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">
                  Increased by
                </span>
                122
              </div>
            </dd>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-4 sm:px-6">
        <div class="text-sm">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> View all<span class="sr-only"> Total Subscribers stats</span></a>
        </div>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <div class="flex items-center">
          <div class="flex-shrink-0 bg-indigo-500 rounded-md p-3">
            <!-- Heroicon name: mail-open -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
            </svg>
          </div>
          <div class="ml-5 w-0 flex-1">
            <dt class="text-sm font-medium text-gray-500 truncate">
              Avg. Open Rate
            </dt>
            <dd class="flex items-baseline">
              <div class="text-2xl font-semibold text-gray-900">
                58.16%
              </div>

              <div class="ml-2 flex items-baseline text-sm font-semibold text-green-600">
                <svg class="self-center flex-shrink-0 h-5 w-5 text-green-500" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">
                  Increased by
                </span>
                5.4%
              </div>
            </dd>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-4 sm:px-6">
        <div class="text-sm">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> View all<span class="sr-only"> Avg. Open Rate stats</span></a>
        </div>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <div class="flex items-center">
          <div class="flex-shrink-0 bg-indigo-500 rounded-md p-3">
            <!-- Heroicon name: cursor-click -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
            </svg>
          </div>
          <div class="ml-5 w-0 flex-1">
            <dt class="text-sm font-medium text-gray-500 truncate">
              Avg. Click Rate
            </dt>
            <dd class="flex items-baseline">
              <div class="text-2xl font-semibold text-gray-900">
                24.57%
              </div>

              <div class="ml-2 flex items-baseline text-sm font-semibold text-red-600">
                <svg class="self-center flex-shrink-0 h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">
                  Decreased by
                </span>
                3.2%
              </div>
            </dd>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-4 sm:px-6">
        <div class="text-sm">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> View all<span class="sr-only"> Avg. Click Rate stats</span></a>
        </div>
      </div>
    </div>
  </dl>
</div>

<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Campaigns</h1>
    <% if @campaigns.any? %>
    <% if current_user.admin? %>
      <%= link_to 'New Campaign', new_campaign_path, class: "btn btn-primary" %>
    <% end %>
    <% end %>
  </div>


  <% if @userpost.any? %>
    <div class="bg-white rounded shadow table-responsive">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white shadow overflow-hidden mb-1">
      <ul class="divide-y divide-gray-200">
        <li class="list-none">
          <a href="#" class="block cursor-default">
            <div class="flex items-center px-4 py-4 sm:px-6">
              <div class="min-w-0 flex-1 flex items-center">
                <div class="flex-shrink-0"></div>
                <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                  <div>
                    <p class="text-sm font-medium text-gray-600 truncate text-lg">Campaign Information</p>
                  </div>
                  <div class="hidden md:block">
                    <div>
                      <p class="text-sm font-medium text-gray-600 truncate text-lg ml-10">Description</p>
                    </div>
                  </div>
                </div>
              </div>
              <div></div>
            </div>
          </a>
        </li>
      </ul>
    </div>


        <% @userpost.each do |campaign| %>
          <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="bg-white shadow overflow-hidden sm:rounded-md">
        <ul class="divide-y divide-gray-200">
          <li class="list-none">
            <a class="block hover:bg-gray-50">
            <%= link_to campaign, :action => 'go' do %>
              <div class="flex items-center px-4 py-4 sm:px-6">
                <div class="min-w-0 flex-1 flex items-center">
                  <div class="flex-shrink-0">               
                    <img class="h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
                  </div>
                  <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                    <div>
                      <p class="text-sm font-medium text-indigo-600 truncate"> <%= campaign.title %></p>
                      <p class="mt-2 flex items-center text-sm text-gray-500">
                        <!-- Heroicon name: mail -->
                        <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                        </svg>
                        <span class="truncate"><%= campaign.link %></span>
                      </p>
                    </div>
                    <div class="hidden md:block">
                      <div>
                        <p class="text-sm text-gray-900">
                          Campaign created on 
                          <time datetime="2020-01-07"><%= campaign.created_at.strftime("%B, %d %Y") %></time>
                        </p>
                        <% if campaign.status == true %>
                        <p class="mt-2 flex items-center text-sm text-gray-500">
                          <!-- Heroicon name: check-circle -->
                          <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                          Accepted Proposal
                        </p>
                        <%else%>
                        <p class="mt-2 flex items-center text-sm text-gray-500">
                        <!-- Heroicon name: check-circle -->
                        <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        Please review your proposal
                      </p>
                        <%end%>

                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <!-- Heroicon name: chevron-right -->
                  <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
              <% end %>
            </a>
          </li>
        </ul>
      </div>
      <%# end of div %>   
    <% end %>
          
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>

  <% if current_user.admin? %>

<% if @campaigns.any? %>

<div class="bg-white rounded shadow table-responsive">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white shadow overflow-hidden mb-1">
      <ul class="divide-y divide-gray-200">
        <li class="list-none">
          <a href="#" class="block cursor-default">
            <div class="flex items-center px-4 py-4 sm:px-6">
              <div class="min-w-0 flex-1 flex items-center">
                <div class="flex-shrink-0"></div>
                <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-4 md:gap-4">
                  <div>
                    <p class="text-sm font-medium text-gray-600 truncate text-lg">Campaign Information</p>
                  </div>
                  <div>
                    <p class="text-sm font-medium text-gray-600 truncate text-lg">User Email</p>
                  </div>
                  <div>
                    <p class="text-sm font-medium text-gray-600 truncate text-lg">User ID</p>
                  </div>
                  <div class="hidden md:block">
                    <div>
                      <p class="text-sm font-medium text-gray-600 truncate text-lg ml-10">Description</p>
                    </div>
                  </div>
                </div>
              </div>
              <div></div>
            </div>
          </a>
        </li>
      </ul>
    </div>

<% @campaigns.each do |campaign| %>
  <div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul class="divide-y divide-gray-200">
    <li class="list-none">
      <a class="block hover:bg-gray-50">
      <%= link_to campaign, :action => 'go' do %>
        <div class="flex items-center px-4 py-4 sm:px-6">
          <div class="min-w-0 flex-1 flex items-center">
            <div class="flex-shrink-0">               
              <img class="h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
            </div>
            <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-4 md:gap-4">
              <div>
                <p class="text-sm font-medium text-indigo-600 truncate"> <%= campaign.title %></p>
                <p class="mt-2 flex items-center text-sm text-gray-500">
                  <!-- Heroicon name: mail -->
                  <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                  </svg>
                  <span class="truncate"><%= campaign.user.email %></span>
                </p>
              </div>

              <div>
                <p class="mt-2 flex items-center text-sm text-gray-500">
                  <span class="truncate"><%= campaign.user.email %></span>
                </p>
              </div>

              <div>
                <p class="mt-2 flex items-center text-sm text-gray-500">
                  <span class="truncate"><%= campaign.user.id %></span>
                </p>
              </div>

              <div class="hidden md:block">
                <div>
                  <p class="text-sm text-gray-900">
                  <%= campaign.status %>
                  </p>
                </div>
              </div>
              
            </div>
          </div>
          <div>
            <!-- Heroicon name: chevron-right -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
        <% end %>
      </a>
    </li>
  </ul>
</div>
<%end%>
  <%end%>
<%end%>
<% if !(current_user.admin?)%>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Campaign</p>
        <%= link_to 'New Campaign', new_campaign_path, class: "btn btn-primary" %>
      </div>
    </div>
    <%end%>
  <% end %>

</div>


